<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>ФИО</label>
                <input type="text" class="form-control" id="fioSearch" placeholder="Поиск по ФИО">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Подразделение</label>
                <select class="form-select" id="departmentFilter">
                    <option value="All">Все подразделения</option>
                    <option value="Buhgalteria">Все подразделения</option>
                    <option value="ASU">Все подразделения</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Техника</label>
                <select class="form-select" id="equipmentFilter">
                    <option value="All">Все</option>
                    <option value="">Ноутбуки</option>
                    <option value="">Планшеты</option>
                    <option value="">Компьютеры</option>
                    <option value="">Серверы</option>
                    <option value="">Принтеры</option>
                    <option value="">В сети</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Подраазделение</th>
                    <th>Должность</th>
                    <th>ФИО</th>
                    <th>Номер телефона</th>
                    <th>Тип устройства</th>
                    <th>Инвентарный номер</th>
                    <th>Серийный номер</th>
                    <th>Имя устройства</th>
                    <th>Имя пользователя</th>
                    <th>Операционная система</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                 
            </tbody>
        </table>
    </div>
</div>