@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                @*<img src="путь_к_изображению1.jpg" class="card-img-top" alt="Изображение 1">*@
                <div class="card-body">
                    <h5 class="card-title">Пользователи</h5>
                    <p class="card-text">Просмотр списка всех пользователей компании</p>
                    <a asp-controller="User" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Должности</h5>
                    <p class="card-text">Просмотр списка должностей в компании</p>
                    <a asp-controller="Position" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Подразделения</h5>
                    <p class="card-text">Просмотр списка подразделений в компании</p>
                    <a asp-controller="Subdivision" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Статистика</h5>
                    <p class="card-text">Просмотр статистических данных о компании</p>
                    <a asp-controller="Chart" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Операционные системы</h5>
                    <p class="card-text">Просмотр списка операционных систем</p>
                    <a asp-controller="UserOperatingSystem" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
